# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# SwiftPM
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html

# General
.DS_Store

